<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Listing &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/listing/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/listing/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/listing/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="/listing/css/superfish.css">

	<link rel="stylesheet" href="/listing/css/style.css">
	<!--main -->
	<link rel="stylesheet" href="/listing/css/main.css">
	<!---->
	<link rel="stylesheet" href="/listing/css/util.css">
	<!---->
	<link rel="stylesheet" href="/listing/css/toggleform.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">
			<div id="fh5co-header">
				<header id="fh5co-header-section">
					<div class="container">
						<div class="nav-header">
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
							<h1 id="fh5co-logo"><a href="/users/listing1">Listing</a></h1>
							<!-- START #fh5co-menu-wrap -->
							<nav id="fh5co-menu-wrap" role="navigation">
								<ul class="sf-menu" id="fh5co-primary-menu">
									<li>
										<a href="/users/home">Home</a>
									</li>
									<li class="active">
										<a href="/users/listing1" class="fh5co-sub-ddown">My Listings</a>
										<ul class="fh5co-sub-menu">
											<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template"
													target="_blank">My Hotels</a></li>
											<li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap"
													target="_blank">My Apartments</a></li>
											<li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap"
													target="_blank">My Beach Homes</a></li>
										</ul>
									</li>
									<li><a href="contact.html">My Profile</a></li>
									<li><a id="loggedout" href="#">Log-Out</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>

			</div>


			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
					style="background-image: url(/listing/images/dusk.png);">
					<div class="desc animate-box">
						<h2>Hotel Listings</h2>
						<span><a class="btn btn-primary btn-lg" onclick="openForm()" href="#">Create Listings</a></span>
					</div>
				</div>

			</div>


			<div class="form-popup" id="myForm">
				<form action="/hotels/create" class="form-container" method="POST">
					<textarea id="description" name="description" placeholder="Description"></textarea>
					<input type="url" name="image" placeholder="Image">
					<input type="text" placeholder="Address" name="address" required>
					<input type="text" placeholder="Price" name="price" required>
					<input type="number" placeholder="Number of Beds" name="numOfBeds">
					<input type="number" placeholder="Number of Baths" name="numOfBaths">
					<input type="number" placeholder="Ratings" name="ratings" required>

					<button type="submit" class="btn" onclick="closeForm()">Create</button>
				</form>
			</div>

			<div class="fh5co-listing">
				<div class="container">
					<div class="row">
						<% for (let d of user.hotels) {%>
							<div class="col-md-4 fh5co-item-wrap">

								<img src="<%= d.image %>" alt="<%= d.description %> " class="img-responsive">
								<div class="fh5co-listing-copy">
									<h2>
										<%= d.description %>
									</h2>
									<h3>
										<%= d.address %>
									</h3>
									<span class="icon">
										<i class="icon-chevron-right"></i>
										<%= d.price %>
									</span>
								</div>

								<span><button class="btn btn-primary btn-lg" onclick="editForm()"
										href="#">Edit</button></span>
								<div class="form-popup" id="myForm2">
									<form class="form-container"
										action="/hotels/update/<%= d.id %>" method="post">
										<input type="text" id="description" name="description"
											placeholder="Description"></input>
										<input type="url" name="image" id="image" placeholder="Image">
										<input type="text" placeholder="Address" id="address" name="address" required>
										<input type="text" placeholder="Price" id="price" name="price" required>
										<input type="number" placeholder="Number of Beds" id="numOfBeds"
											name="numOfBeds">
										<input type="number" placeholder="Number of Baths" id="numOfBaths"
											name="numOfBaths">
										<input type="number" placeholder="Ratings" id="ratings" name="ratings" required>

										<button class="btn" id="close-editbtn" style="background-color: red"
											onclick="closeEditForm()">Cancel</button>

										<button type="submit" class="btn" id="editbtn">Update</button>
									</form>
								</div>
								<span><button class="btn btn-primary btn-lg" id="dele"
										value="<%= d.id %>">Delete</button></span>

							</div>
							<%} %>
					</div>
				</div>
			</div>

			<div class="text-center p-t-136">
				<a class="txt2" href="/users/listing2">
					<i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
					Back
				</a>
			</div>






			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter2"></i></a>
									<a href="#"><i class="icon-facebook2"></i></a>
									<a href="#"><i class="icon-instagram"></i></a>
									<a href="#"><i class="icon-dribbble2"></i></a>
									<a href="#"><i class="icon-youtube"></i></a>
								</p>
								<p>Copyright 2016 Free Html5 <a href="#">Listing</a>. All Rights Reserved. <br>Made with
									<i class="icon-heart3"></i> by <a href="http://freehtml5.co/"
										target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/"
										target="_blank">Unsplash</a></p>
							</div>
						</div>
					</div>
				</div>
			</footer>


		</div>
		<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->
	<script>
		const deleteBtn = document.getElementById('dele')
		const id = deleteBtn.value
		deleteBtn.addEventListener('click', (e) => {
			e.preventDefault()
			fetch('http://localhost:4000/hotels/delete/' + id, { method: 'DELETE' })
			//window.location.reload()

		})
	</script>
	<script>
		const logout = document.getElementById('loggedout')
		logout.addEventListener('click', (e) => {
			e.preventDefault()
			fetch('http://localhost:4000/users/logout', { method: 'POST' })
			window.location.replace("http://localhost:4000/users/signin")
		})
	</script>

	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>

	<!-- Main JS -->
	<script src="js/main.js"></script>

	<!--Toggleform JS-->
	<script src="/listing/js/toggleform.js"></script>

</body>

</html>